/.htaccess
/configuration.php
/index.php
/tmp/*
/plugins/*
/modules/*
/media/*
/cache/*
/administrator/*
/bin/
/cli/*
/components/*
/includes/*
/layouts/*
/libraries/*
/logs/
/.idea/*
/LICENSE.txt
/README.txt
/htaccess.txt
/web.config.txt
/robots.txt.dist
/ads.txt


